<h1>UselesStores</h1>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<% @products.each do |product| %>
  <div class="item">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <%= simple_format(product.description) %>
    <div class="fee_line">
      <span class="fee"><%= product.fee %></span>
    </div>
  </div>
<% end %>
