<!DOCTYPE html>
<html>
<head>
  <title>Uselesshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div class="container">
  <div class="row">
    <div class="span9">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li>
                  <h3><a href="<%= stores_url %>">Uselesshop<span class="navbar-unread">1</span></a></h3>
                </li>
                <li class="active">
                  <a href="#">List<span class="navbar-unread">1</span></a>
                  <ul>
                    <li><a href="#">Sub One</a></li>
                    <li><a href="#">Sub Two</a></li>
                    <li><a href="#">Sub menu</a></li>
                  </ul> <!-- /Sub menu -->
                </li>
                <li>
                  <a href="#">Messages<span class="navbar-unread">1</span></a>
                  <ul>
                    <li><a href="#">Sub One</a></li>
                    <li><a href="#">Sub Two</a></li>
                    <li><a href="#">Sub menu</a>
                      <ul>
                        <li><a href="#">S-Sub One</a></li>
                        <li><a href="#">S-Sub Two</a></li>
                        <li><a href="#">S-Sub Three</a></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                    <li><a href="#">Sub Three</a></li>
                  </ul> <!-- /Sub menu -->
                </li>
                <li>
                  <a href="#">About Us<span class="navbar-unread">1</span></a>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </div>
    <div class="span3">
      <select value="X-Men" class="span3" tabindex="1" name="herolist" id="r_selector">
        <option value="0">Choose hero</option>
        <option value="1">Spider Man</option>
        <option value="2">Wolverine</option>
        <option value="3">Captain America</option>
        <option value="Crocodile">Crocodile</option>
      </select>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="span9">
      <%= yield %>
    </div>
    <div class="span3">
      <div id="side">
        <% if @cart %>
          <%= hidden_div_if( @cart.line_items.empty?, id: 'cart' ) do %>
            <%= render @cart%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
